/*  Base style  */

body {
    font-family: Arial, sans-serif;
}

.content {
    padding: 0% 3% 3% 3%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-container {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-center h2 {
    margin: 0;
}

.content img {
    width: 100%;
    height: auto;
    flex: 1;
    object-fit: cover;
}